{% extends 'lawyer/base.html' %}
{% load static tailwind_tags %}

{% block content %}
<main>
    <div class="container mx-auto px-4 pt-[200px]">
        <h2 class="section-title text-center after:mx-auto">{{article.name}}</h2>
        <div class="max-w-6xl mx-auto text-myBlack">
            <div class="mb-24 after:clear-both after:h-1 after:block">
                <img src="/media/{{article.image}}" class="w-1/2 h-auto rounded float-left inline mr-6" alt="">
                <p>
                    {{article.description | safe}}
                </p>
                <p class="text-gray-500 mt-8">
                    {{article.date_create}}
                </p>
            </div>
        </div>
    </div>
  </main>
{% endblock content %}