{% load static tailwind_tags %} {% load static %} {% load lawyer %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/dist/swiper.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/dist/font-awesome.min.css' %}"
    />
    {%tailwind_css%}
  </head>

  <body
    class="text-white font-basic relative h-full flex flex-col min-h-screen"
  >
    {% block modals %}
    <div class="modal modal-review" id="modal1">
      <form class="flex flex-col gap-3 text-myBlack" action="" method="POST">
        <div
          class="self-end flex w-10 h-10 absolute justify-center items-center top-0 -right-16 bg-gray-300 bg-opacity-40 rounded-md"
        >
          <span class="cross-modal"></span>
        </div>
        {% csrf_token %}
        <div class="form-content">
          <label for="company_name">
            <b>Название компании</b>
            <input
              id="company_name"
              name="company_name"
              type="text"
              class="w-full border rounded py-2 px-3 transition-all focus:border-basic outline-none"
              placeholder="Название компании"
            />
          </label>
          <label for="name_reviewer" class="text-myBlack">
            <b>Имя</b>
            <input
              id="name_reviewer"
              name="name_reviewer"
              type="text"
              class="w-full border rounded py-2 px-3 transition-all focus:border-basic outline-none"
              placeholder="Имя"
            />
          </label>
          <label for="review">
            <b>Отзыв</b>
            <textarea
              name="review"
              class="w-full border rounded py-2 px-3 transition-all focus:border-basic outline-none"
              placeholder="Напишите отзыв о нас"
              id="review"
            ></textarea>
          </label>
          <label class="text-center">
            <b class="block text-xl">Оцените нас</b>
            <div class="review-mark flex justify-center">
              <svg
                class="cursor-pointer star"
                viewBox="0 0 24 24"
                width="50"
                height="50"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.48,5.35l1.37,4.22h4.43a.51.51,0,0,1,.3.92L15,13.09l1.37,4.21a.51.51,0,0,1-.79.57L12,15.27l-3.58,2.6a.51.51,0,0,1-.79-.57L9,13.09l-3.58-2.6a.51.51,0,0,1,.3-.92h4.43l1.37-4.22A.5.5,0,0,1,12.48,5.35Z"
                />
              </svg>
              <svg
                class="cursor-pointer star"
                viewBox="0 0 24 24"
                width="50"
                height="50"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.48,5.35l1.37,4.22h4.43a.51.51,0,0,1,.3.92L15,13.09l1.37,4.21a.51.51,0,0,1-.79.57L12,15.27l-3.58,2.6a.51.51,0,0,1-.79-.57L9,13.09l-3.58-2.6a.51.51,0,0,1,.3-.92h4.43l1.37-4.22A.5.5,0,0,1,12.48,5.35Z"
                />
              </svg>
              <svg
                class="cursor-pointer star"
                viewBox="0 0 24 24"
                width="50"
                height="50"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.48,5.35l1.37,4.22h4.43a.51.51,0,0,1,.3.92L15,13.09l1.37,4.21a.51.51,0,0,1-.79.57L12,15.27l-3.58,2.6a.51.51,0,0,1-.79-.57L9,13.09l-3.58-2.6a.51.51,0,0,1,.3-.92h4.43l1.37-4.22A.5.5,0,0,1,12.48,5.35Z"
                />
              </svg>
              <svg
                class="cursor-pointer star"
                viewBox="0 0 24 24"
                width="50"
                height="50"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.48,5.35l1.37,4.22h4.43a.51.51,0,0,1,.3.92L15,13.09l1.37,4.21a.51.51,0,0,1-.79.57L12,15.27l-3.58,2.6a.51.51,0,0,1-.79-.57L9,13.09l-3.58-2.6a.51.51,0,0,1,.3-.92h4.43l1.37-4.22A.5.5,0,0,1,12.48,5.35Z"
                />
              </svg>
              <svg
                class="cursor-pointer star"
                viewBox="0 0 24 24"
                width="50"
                height="50"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.48,5.35l1.37,4.22h4.43a.51.51,0,0,1,.3.92L15,13.09l1.37,4.21a.51.51,0,0,1-.79.57L12,15.27l-3.58,2.6a.51.51,0,0,1-.79-.57L9,13.09l-3.58-2.6a.51.51,0,0,1,.3-.92h4.43l1.37-4.22A.5.5,0,0,1,12.48,5.35Z"
                />
              </svg>
            </div>
          </label>
          <a
            href="#"
            class="btn-blue btn-create-review block mx-auto text-center"
          >
            Отправить
          </a>
        </div>
      </form>
    </div>
    <div class="modal modal-order-call" id="modal2">
      <form class="flex flex-col gap-3 text-myBlack form-order-call relative" action="" method="POST">
        <div
          class="self-end flex w-10 h-10 absolute justify-center items-center top-0 -right-16 bg-gray-300 bg-opacity-40 rounded-md"
        >
          <span class="cross-modal"></span>
        </div>
        {% csrf_token %}
        <div class="form-content-order-call relative">
          <p class="text-center text-xl font-bold">Заказать звонок</p>
          <label for="name_call">
            <b>Имя</b>
            <input
              id="name_call"
              name="name"
              type="text"
              class="w-full border rounded py-2 px-3 mb-3 transition-all focus:border-basic outline-none"
              placeholder="Имя"
            />
          </label>
          <label for="email_call" class="text-myBlack">
            <b>E-mail</b>
            <input
              id="email_call"
              name="email"
              type="email"
              class="w-full border rounded py-2 px-3 mb-3 transition-all focus:border-basic outline-none"
              placeholder="E-mail"
            />
          </label>
          <label for="phone_call">
            <b>Номер телефона</b>
            <input
              id="phone_call"
              name="phone"
              type="tel"
              class="w-full border rounded py-2 px-3 mb-3 transition-all focus:border-basic outline-none"
              placeholder="Номер телефона"
            />
          </label>
          <a
           href="#" class="btn-order-call btn-blue block mt-3 mx-auto text-center"
          >
            Отправить
        </a>
        </div>
      </form>
    </div>
    {% endblock modals %}
    <header class="header text-white top-0">
      <div class="header-top bg-black p-4 sm:fixed z-20 w-full">
        <div class="container mx-auto">
          <div
            class="text-center flex flex-col sm:flex-row gap-2 justify-between items-center"
          >
            {% lawyer %}
          </div>
        </div>
      </div>
      <div
        class="bg-black {% if request.path == '/' %}bg-opacity-40{% endif %} {% if request.path != '/' %}bg-opacity-90{% endif %} absolute z-10 w-full top-[124px] sm:top-[60px] p-4 header__menu-container"
      >
        <div class="flex justify-between container mx-auto overflow-hidden">
          <div class="header__logo w-14 md:w-20">
            <a href="{% url 'index' %}" class="logo">
              <img src="{% static 'images/logo.svg'%}" alt="Логотип" />
            </a>
          </div>
          <input type="checkbox" id="check" />
          <label class="check" for="check">
            <div>
              <span></span>
            </div>
          </label>
          <nav class="header__menu">
            <ul
              class="header__menu-list flex lg:gap-10 md:gap-4 gap-2 justify-end md:pt-4 md:pl-5"
            >
              <li class="menu-item">
                <a
                  href="{% url 'index' %}"
                  class="{% if request.path == '/' %}active{% endif %}"
                  >Главная</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="{% url 'articles:index' 1 %}"
                  class="{% if 'articles/page_articles' in request.path %}active{% endif %}"
                  >Новости</a
                >
              </li>
              <li class="menu-item"><a href="{% url 'services' %}" class="{% if 'services' in request.path %}active{% endif %}">Услуги</a></li>
              <li class="menu-item"><a href="#">Практика</a></li>
              <li class="menu-item"><a href="#">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    {% block content %} {% endblock content %}
    <footer class="footer bg-myBlack pt-20 pb-24 mt-auto">
      <div class="container mx-auto px-4">
        <div
          class="grid mb-24 grid-cols-1 md:grid-cols-3 pb-12 relative after:absolute after:bottom-0 after:block after:w-full after:h-[1px] after:bg-gray-500"
        >
          <div class="footer__logo w-20 md:mx-0 mx-auto">
            <a href="#" class="logo">
              <img src="{% static 'images/logo.svg'%}" alt="Логотип" />
            </a>
          </div>
          <p class="footer__text col-span-2">
            Предварительные выводы неутешительны: синтетическое тестирование, а
            также свежий взгляд на привычные вещи — безусловно открывает новые
            горизонты для экономической целесообразности принимаемых решений.
          </p>
        </div>
        <div
          class="flex flex-col-reverse lg:grid gap-5 grid-cols-1 lg:grid-cols-3"
        >
          <div class="footer__company-info flex flex-col gap-y-6">
            <div class="flex gap-x-6 items-center">
              <div class="flex items-center justify-center p-3 bg-bgIcon">
                <img src="{% static 'images/map.svg'%}" alt="Карта" />
              </div>
              <div>
                <p class="text-xs text-gray-400 uppercase">Наш адрес</p>
                <a
                  href="https://goo.gl/maps/XMhzE3Xuh5f4t7oV8"
                  class="transition-all duration-300 hover:text-basic"
                  >г. Курск, ул.Щепкина, 40</a
                >
              </div>
            </div>
            <div class="flex gap-x-6 items-center">
              <div class="flex items-center justify-center p-3 bg-bgIcon">
                <img src="{% static 'images/tel-footer.svg'%}" alt="Карта" />
              </div>
              <div>
                <p class="text-xs text-gray-400 uppercase">
                  Запись на консультанцию
                </p>
                <a
                  href="tel:+79220229482"
                  class="transition-all duration-300 hover:text-basic"
                  >+7 (922) 022-94-82</a
                >
              </div>
            </div>
            <div class="flex gap-x-6 items-center">
              <div class="flex items-center justify-center p-3 bg-bgIcon">
                <img src="{% static 'images/email-footer.svg'%}" alt="Карта" />
              </div>
              <div>
                <p class="text-xs text-gray-400 uppercase">Корреспонденция</p>
                <a
                  href="mailto:example@example.com"
                  class="transition-all duration-300 hover:text-basic"
                  >example@example.com</a
                >
              </div>
            </div>
          </div>
          <div class="footer__menu">
            <ul class="footer__menu-list flex flex-col gap-y-4">
              <li><a href="{% url 'services' %}" class="{% if 'services' in request.path %}active{% endif %}">Услуги</a></li>
              <li><a class="uppercase text-sm" href="#">О компании</a></li>
              <li>
                <a
                  href="{% url 'articles:index' 1 %}"
                  class="{% if 'articles/page_articles' in request.path %}active{% endif %}"
                  >Новости</a
                >
              </li>
            </ul>
          </div>
          <div class="">
            <div class="footer__lawyer mb-4">
              <div class="footer__lawyer-img">
                <img
                  src="{% static 'images/lawyer.png'%}"
                  alt="author-review"
                />
              </div>
              <div>
                <p class="footer__lawyer-name text-xl font-bold">
                  Казначеев Александр
                </p>
                <p class="footer__lawyer-company text-xs text-gray-400">
                  Ведущий юрист
                </p>
              </div>
            </div>
            <p class="footer__text text-sm mb-3">
              Есть над чем задуматься: тщательные исследования конкурентов
              разоблачены. Идейные соображения высшего порядка, а также
              перспективное планирование играет
            </p>
            <a
              href="tel:89629538811"
              class="text-xl text-basic modal-trigger"
              data-target="modal2"
              >Заказать звонок</a
            >
          </div>
        </div>
      </div>
    </footer>
    {% block scripts %}
    <script src="{% static 'js/swiper.min.js'%}"></script>
    <script src="{% static 'js/jquery-3.7.0.js'%}"></script>
    <script src="{% static 'js/call_modal.js'%}"></script>
    <script src="{% static 'js/adaptive_menu.js'%}"></script>
    <script src="{% static 'js/post_call.js'%}"></script>
    {% endblock scripts %}
  </body>
</html>
