{% extends 'lawyer/base.html' %}
{% load static tailwind_tags %}
{% load static %}

{% block content %}
<main>
    <section class="section-header pt-[300px] lg:pt-[300px]">
        <div class="container mx-auto relative z-10">
            <div class="text-center max-w-[1090px] mx-auto">
                <p class="text-xl text-md:text-3xl font-thin mb-2 uppercase">Оказываем весь комплекс</p>
                <h1
                    class="text-basic text-center text-3xl sm:text-4xl md:text-[3.50rem] font-normal uppercase mb-2">
                    Юридических услуг</h1>
                <p class="text-base block md:text-lg mb-12">Давно выяснено, что при оценке дизайна и композиции
                    читаемый текст мешает
                    сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное
                    заполнение.</p>
                <a href="#" class="btn-blue mt-3 sm:mt-1">Наши
                    услуги</a>
            </div>
        </div>
    </section>
    <section class="section-form">
        <div class="container mx-auto px-4">
            <h2 class="section-title text-center after:mx-auto">Расскажите нам о своей проблеме</h2>
            <form action="" class="max-w-4xl mx-auto text-myBlack" method="post">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                    <label for="name">
                        <b>Имя</b>
                        <input id="name" name="name" type="text" class="w-full border rounded py-2 px-3 transition-all focus:border-basic outline-none" placeholder="Имя">
                    </label>
                    <label for="email" class="text-myBlack">
                        <b>E-mail</b>
                        <input id="email" name="email" type="email" class="w-full border rounded py-2 px-3 transition-all focus:border-basic outline-none" placeholder="E-mail">
                    </label>
                </div>
                <label for="description" class="mb-4">
                    <b>Описание проблемы</b>
                    <textarea name="description" class="w-full border rounded py-2 px-3 transition-all focus:border-basic outline-none" placeholder="Напишите описание вашей проблемы" id="description"></textarea>
                </label>
                <label
                    class="flex flex-col items-center justify-center relative w-full p-4 min-h-[100px] transition bg-white border-2 border-gray-300 border-dashed rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none mb-4">
                    <span class="flex items-center space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                        </svg>
                        <span class="font-medium text-gray-600">
                            Перетащите сюда свои файлы, или
                            <span class="text-basic">обзор</span>
                        </span>
                    </span>
                    <input type="file" name="file_upload" accept=".png, .jpg, .jpeg, .doc, .docx, .pdf" class="text-5xl opacity-0 absolute w-full h-full input-files cursor-pointer" multiple>
                    <div class="block-files text-myBlack"> 

                    </div>
                </label>
                <button type="submit" class="btn-blue block mx-auto text-center">Отправить</button>
            </form>
        </div>
    </section>
    <section class="section-reviews py-20">
        <div class="container mx-auto px-4">
            <h2 class="section-title">
                Что о нас говорят клиенты
            </h2>

            <div class="swiper swiper-reviews">
                <div class="swiper-wrapper">
                    {% for review in reviews %}
                        {% if review.is_publish %}
                            <div class="swiper-slide">
                                <div class="review">
                                    <div class="review__author">
                                        <div class="review__author-img">
                                            <img src="{% static '/images/avatar-review.svg'%}" alt="author-review">
                                        </div>
                                        <div>
                                            <p class="review__author-company">{{review.name_company}}</p>
                                            <p class="review__author-name">{{review.name}}</p>
                                            <div class="review__author-rating flex">
                                                {% with ''|center:5 as range %}
                                                    {% for _ in range %}
                                                        {% if review.rating > forloop.counter %}
                                                            <svg viewBox="0 0 24 24" width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                                                                <defs>
                                                                <style>.cls-2{stroke-linecap:round;stroke-linejoin:round; stroke: #4F8FF0; fill: #4F8FF0; opacity: 0.8;}</style>
                                                                </defs>
                                                                    <path class="cls-2" d="M12.48,5.35l1.37,4.22h4.43a.51.51,0,0,1,.3.92L15,13.09l1.37,4.21a.51.51,0,0,1-.79.57L12,15.27l-3.58,2.6a.51.51,0,0,1-.79-.57L9,13.09l-3.58-2.6a.51.51,0,0,1,.3-.92h4.43l1.37-4.22A.5.5,0,0,1,12.48,5.35Z"/>
                                                            </svg>
                                                        {% else %}
                                                            <svg viewBox="0 0 24 24" width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                                                                <defs>
                                                                <style> path{stroke-linecap:round;stroke-linejoin:round; stroke: #4F8FF0; opacity: 0.8; fill: #fff;}</style>
                                                                </defs>
                                                                    <path d="M12.48,5.35l1.37,4.22h4.43a.51.51,0,0,1,.3.92L15,13.09l1.37,4.21a.51.51,0,0,1-.79.57L12,15.27l-3.58,2.6a.51.51,0,0,1-.79-.57L9,13.09l-3.58-2.6a.51.51,0,0,1,.3-.92h4.43l1.37-4.22A.5.5,0,0,1,12.48,5.35Z"/>
                                                            </svg>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endwith %}
                                            </div>
                                        </div>
                                    </div>
                                    <p class="review__text">
                                    {{review.review}}
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="swiper-pagination swiper-pagination-bullets-dynamic"></div>
            </div>
            
            <div class="flex gap-4 items-center">
                <a href="#" class="btn-blue mt-3 sm:mt-1">Все
                    отзывы</a>
                <a href="#" class="btn-gray modal-trigger mt-3 sm:mt-1" data-target="modal1">Написать
                    отзыв</a>
            </div>
        </div>
    </section>
    <section class="section-news">
        <div class="container mx-auto px-4">
            <h2 class="section-title text-center after:mx-auto">
                Полезные материалы
            </h2>
            <p class="text-center max-w-[920px] text-base mx-auto mt-6 mb-12">
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem
                Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
            </p>
            <div class="swiper swiper-news">
                <div class="swiper-wrapper">
                    {% for new in news %}
                    <div class="swiper-slide">
                        <a href="#" class="news-block">
                            <div class="news-img ">
                                <img src="/media/{{new.image}}" alt="">
                            </div>
                            <div class="news-content">
                                <p class="news-title">{{new.name}}</p>
                                <p class="news-date">{{new.date_create}}</p>
                                <p class="news-text">{{new.description}}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination swiper-pagination-bullets-dynamic"></div>
            </div>
            <div class="text-center mt-7">
                <a href="#" class="btn-blue sm:mt-1">
                    Все новости
                </a>
            </div>
        </div>
    </section>
</main>
{% endblock content %}